In [1]:
import pandas as pd

# 1. .iloc 사용

- .iloc는 정수를 사용하여 DataFrame에 데이터를 읽고 쓴다

In [2]:
# 데이터프레임 생성
df = pd.DataFrame( { 
                    'one':[1,2,3,4,5],
                    'two':[6,7,8,9,10]
                    }, index=['a','b','c','d','e'] )

In [3]:
df

   one  two
a    1    6
b    2    7
c    3    8
d    4    9
e    5   10

In [ ]:
# 이제 .iloc를 사용하여 값을 읽고 쓸 수 있다.

In [6]:
# 방법 1.
# 첫 번째 행, 첫 번째 열을 읽습니다.

print( df.iloc[0, 0] )

1

In [7]:
# 방법 2.
# 두 번째 열, 두 번째 행을 새로운 값으로 설정할 수 있다.

df.iloc[1, 1] = '21'

In [8]:
print( df )

   one two
a    1   6
b    2  21
c    3   8
d    4   9
e    5  10

# 2. .loc 사용

- .loc는 레이블을 사용하여 데이터를 읽고 쓴다.

In [9]:
df = pd.DataFrame( { 
                    'one':[1,2,3,4,5],
                    'two':[6,7,8,9,10]
                    }, index=['a','b','c','d','e'] )

In [11]:
df

   one  two
a    1    6
b    2    7
c    3    8
d    4    9
e    5   10

In [10]:
print( df )

   one  two
a    1    6
b    2    7
c    3    8
d    4    9
e    5   10

In [12]:
# .loc을 사용하여 데이터에 액세스하기 위해 열과 행의 레이블을 사용한다.
# 행'c', 열'two' 를 값 33으로 설정해라

df.loc['c', 'two'] = 33

In [14]:
df

   one  two
a    1    6
b    2    7
c    3   33
d    4    9
e    5   10

In [16]:
print( df )

   one  two
a    1    6
b    2    7
c    3   33
d    4    9
e    5   10

In [19]:
# 행 a ~ c 를 인쇄한다.
df.loc['a':'c']

   one  two
a    1    6
b    2    7
c    3   33

In [20]:
print( df.loc['a':'c'] )

   one  two
a    1    6
b    2    7
c    3   33

In [22]:
# 행b를 열'two'의 c로 출력해라
df.loc['b':'d', 'two']

b     7
c    33
d     9
Name: two, dtype: int64

In [27]:
print( df.loc['b':'d', 'two'] )

b     7
c    33
d     9
Name: two, dtype: int64

In [32]:
# .loc 에 레이블이 없는 정수 인수가 제공되면, 축의 정수 색인화(.iloc의 동작)로 되돌아가야한다.
# 혼합 레이블 및 정수 색인화가 가능해진다.
# 'b'행의 두번째 열(0에서 시작하는 인덱스)의 값을 반환한다

df.loc['b', 1]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>