## pandas 기초
- pandas는 R의 핵심 데이터 시리즈와 프레임을 파이썬의 추가한 것이다
- numpy를 기반으로 구현되었고, numpy 대비 기능을 더 확장하여 재구현한것
- Python Data Analysis Library
- [https://pandas.pydata.org/]

In [4]:
import numpy as np
import pandas as pd

- 파이썬의 자료구조
> 수치형, 문자열, 리스트, 딕셔너리, 튜플, 집합, 블린
- numpy의 자료구조
> ndarray(배열) : 배열의 데이터는 모든 같은 타입이다.
- pandas의 자료구조
> Series(시리즈), DataFrame(데이터프레임)
> DataFrame의 인덱싱 -> Series의 인덱싱 -> 값(스칼라), 수치, 문자, 블린, NaN(결측치)이 등장
> Series : 인덱스와 데이터만 존재하는, 컬럼이 없는 자료구조
> DataFrame : 인덱스와 컬럼이 존재하는 자료구조
> NaN : 데이터가 없다, Not a Number -> np.nan

In [7]:
# Series
# 데이터를 정수로 넣었으나 기본형으로 float64가 반영되었다
a = pd.Series( [1,3,5,np.nan,6,8] )
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
# 속성 - 타입
a.dtype

dtype('float64')

In [9]:
# 속성 - 크기
a.shape 
# 데이터는 1차원이고 총 6개의 데이터가 존재한다는 뜻

(6,)

In [11]:
# DataFrame
# 인덱스와 컬럼이 존재하는 자료구조
cols = list('ABCD') # ['A','B','C','D']
indexs = pd.date_range( '20190812', periods=7 )
# 리스트화 방법1 . cols = 'ABCD' -> cols = list('ABCD') -> ['A','B','C','D']
# 컬럼4개, 인덱스7개
cols, indexs

(['A', 'B', 'C', 'D'],
 DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                '2019-08-16', '2019-08-17', '2019-08-18'],
               dtype='datetime64[ns]', freq='D'))

In [13]:
# 데이터는 shape => (7,4)
datas = np.random.randn(7,4) # 2차원 데이터 형태로 난수를 발생시킴
datas, datas.shape

(array([[ 0.73922615, -0.60933764, -0.20527878,  1.39128948],
        [ 1.18549881, -1.05971723,  0.92846217, -0.86599017],
        [ 0.52047102,  1.5544454 ,  0.66259762, -1.02890533],
        [ 1.9294705 , -0.51318944,  0.04556993,  0.4111859 ],
        [-0.30875605,  0.30385539,  2.05135084,  0.03123939],
        [-0.1926315 ,  0.94948833,  0.12048283, -2.51997778],
        [-0.38912053, -2.15847733,  1.18831051, -1.80380992]]), (7, 4))

In [17]:
# df 생성
df = pd.DataFrame( datas, index=indexs, columns=cols ) # index= : 기본값 부여 파라미터.

- **데이터가 로드된 후 DataFrame을 만든후 점검할 사항**

In [18]:
df.head(3)

                   A         B         C         D
2019-08-12  0.739226 -0.609338 -0.205279  1.391289
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905

In [19]:
df.tail(3)

                   A         B         C         D
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values

array([[ 0.73922615, -0.60933764, -0.20527878,  1.39128948],
       [ 1.18549881, -1.05971723,  0.92846217, -0.86599017],
       [ 0.52047102,  1.5544454 ,  0.66259762, -1.02890533],
       [ 1.9294705 , -0.51318944,  0.04556993,  0.4111859 ],
       [-0.30875605,  0.30385539,  2.05135084,  0.03123939],
       [-0.1926315 ,  0.94948833,  0.12048283, -2.51997778],
       [-0.38912053, -2.15847733,  1.18831051, -1.80380992]])

In [22]:
type(df.values)

numpy.ndarray

In [23]:
df.shape

(7, 4)

In [24]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [25]:
# df의 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2019-08-12 to 2019-08-18
Freq: D
Data columns (total 4 columns):
A    7 non-null float64
B    7 non-null float64
C    7 non-null float64
D    7 non-null float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [27]:
# 통계요약: 개수, 평균, 표준편차, 최소, 25%, 50%, 75%, 최대
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.497737 -0.218990  0.684499 -0.626424
std    0.865570  1.257719  0.785298  1.339869
min   -0.389121 -2.158477 -0.205279 -2.519978
25%   -0.250694 -0.834527  0.083026 -1.416358
50%    0.520471 -0.513189  0.662598 -0.865990
75%    0.962362  0.626672  1.058386  0.221213
max    1.929471  1.554445  2.051351  1.391289

In [28]:
# B열 기준 데이터를 정렬, 내림차순
df.sort_values( by='B', ascending=False ) # sort : 정렬, ascending : 오름차순

                   A         B         C         D
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-15  1.929471 -0.513189  0.045570  0.411186
2019-08-12  0.739226 -0.609338 -0.205279  1.391289
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [30]:
# 특정 컬럼의 데이터만 보기 => 인덱싱 => 차원축소
df['C'], type(df['C'])

(2019-08-12   -0.205279
 2019-08-13    0.928462
 2019-08-14    0.662598
 2019-08-15    0.045570
 2019-08-16    2.051351
 2019-08-17    0.120483
 2019-08-18    1.188311
 Freq: D, Name: C, dtype: float64, pandas.core.series.Series)

In [31]:
# 슬라이싱 : 차원유지
df[:] # 카피동일, 처음부터 끝까지 차원카피

                   A         B         C         D
2019-08-12  0.739226 -0.609338 -0.205279  1.391289
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-15  1.929471 -0.513189  0.045570  0.411186
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [32]:
# 데이터가 슬라이싱 되서 나온다 => 차원을 유지해야 하니까 
# a <= x < b 
df[1:3] # 인덱스 3을 제외하고 1,2 가 들어온다

                   A         B         C         D
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905

In [33]:
# 슬라이싱을 하는데 인덱싱값이 아닌, 실제값으로 자르기
# a <= x <= b 
df[ '2019-08-13':'2019-08-15' ]

                   A         B         C         D
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-15  1.929471 -0.513189  0.045570  0.411186

- 전통적인 인덱싱과 슬라이싱을 진행하면 표현의 한계점에 도달
- 이를 극복하기 위해서  pandas만의 데이터 추출법이 추가가 되었다
- loc, iloc <= 이 2개를 주로 사용한다
- 연속데이터에 대한 추출 <-> 비연속 데이터들의 추출법 (펜시인덱싱, 쿼리수행등등)

### loc

In [35]:
# 위에서까지는 dataframe에 대한것에 대해서 알았으니, 이젠 뽑는것에 대해서 알아본다
# loc : location 정보를 옵션으로 하여 슬라이싱 지원
# loc를 통한 데이터 추출
# df.loc[ '인덱스명' ]
df.loc[ '2019-08-12' ], type(df.loc[ '2019-08-12' ]) # []로 진행된다 : loc은 함수라기보단 맴버변수에 가깝다는 뜻
# 전체데이터중에서 8월12일에 해당되는 것만추출, 위에서 df로 표현을 하면 컬럼만을 가져오게 되어 상세히 표현못함

(A    0.739226
 B   -0.609338
 C   -0.205279
 D    1.391289
 Name: 2019-08-12 00:00:00, dtype: float64, pandas.core.series.Series)

In [36]:
# 원본카피 -> 원본그대로 나온다
df.loc[ : ]

                   A         B         C         D
2019-08-12  0.739226 -0.609338 -0.205279  1.391289
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-15  1.929471 -0.513189  0.045570  0.411186
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [37]:
# 인덱스쪽은 전부 포함시키고(1차원만 해석한다), 컬럼은 A,C만 포함(2차원만 해석한다)
# 1차원, 2차원을 각각 표현한다는것이 중요하다
df.loc[ : , ['A','C'] ]

                   A         C
2019-08-12  0.739226 -0.205279
2019-08-13  1.185499  0.928462
2019-08-14  0.520471  0.662598
2019-08-15  1.929471  0.045570
2019-08-16 -0.308756  2.051351
2019-08-17 -0.192632  0.120483
2019-08-18 -0.389121  1.188311

In [38]:
# 차원이 축소가 된다.( 2차원을 건드리는 것이다)
df.loc[ : , 'A' ]

2019-08-12    0.739226
2019-08-13    1.185499
2019-08-14    0.520471
2019-08-15    1.929471
2019-08-16   -0.308756
2019-08-17   -0.192632
2019-08-18   -0.389121
Freq: D, Name: A, dtype: float64

In [39]:
# 차원을 유지하는 것이다.( 2차원을 건드리는 것이다)
df.loc[ : , ['A'] ]

                   A
2019-08-12  0.739226
2019-08-13  1.185499
2019-08-14  0.520471
2019-08-15  1.929471
2019-08-16 -0.308756
2019-08-17 -0.192632
2019-08-18 -0.389121

In [40]:
# 차원유지
df.loc[ '2019-08-13':'2019-08-15' , ['A','C'] ]

                   A         C
2019-08-13  1.185499  0.928462
2019-08-14  0.520471  0.662598
2019-08-15  1.929471  0.045570

In [41]:
# 차원축소 -> 인덱스를 한개만 지정
df.loc[ '2019-08-13' , ['A','C'] ]

A    1.185499
C    0.928462
Name: 2019-08-13 00:00:00, dtype: float64

In [42]:
# error
df.loc[ ['2019-08-13'] , ['A','C'] ]
# error
df.loc[ ['2019-08-13':'2019-08-13'] , ['A','C'] ]

SyntaxError: invalid syntax (<ipython-input-42-4a6b4549897b>, line 4)

In [43]:
df.loc[ '2019-08-13':'2019-08-13' , ['A','C'] ]

                   A         C
2019-08-13  1.185499  0.928462

In [44]:
# 차원축소가 2회 진행하는 것이다. -> 스칼라(값)
df.loc[ '2019-08-13' , 'A' ]

1.1854988124337689

### iloc
- 펜시인덱싱과 유사하다
- 행과 열의 번호를 이용하여 데이터를 접근하는 방식
- i -> index

In [47]:
df

                   A         B         C         D
2019-08-12  0.739226 -0.609338 -0.205279  1.391289
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-15  1.929471 -0.513189  0.045570  0.411186
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [45]:
# 2019-08-13일자 데이터 추출
# 1 => 인덱스값이 1인 데이터
df.iloc[ 1 ]

A    1.185499
B   -1.059717
C    0.928462
D   -0.865990
Name: 2019-08-13 00:00:00, dtype: float64

In [48]:
# iloc 슬라이싱
# a <= index < b, c <= column < d
df.iloc[ 1:3, 1:3 ]

                   B         C
2019-08-13 -1.059717  0.928462
2019-08-14  1.554445  0.662598

In [49]:
# iloc + 펜시인덱싱 기법 사용 ( 인덱스, 컬럼을 비연속적 위치를 나열 )
df.iloc[ [1,4,2] , [0,2] ]

                   A         C
2019-08-13  1.185499  0.928462
2019-08-16 -0.308756  2.051351
2019-08-14  0.520471  0.662598

In [50]:
# 특정 조건에 만족하는 데이터만 추출
# 데이터프레임이 생성되면 컬러명은 맴버변수로 자동생성됨 : df.(스크롤안에 A,B,C,D가 나옴)
# C컬럼에 존재하는 데이터중에 양수만(양수면: True, 음수면: False)
# 조건을 부여하여 블리언 데이터를 만들어 참만 포함시키는 방식 : 블리언(2진데이터와 같은 맥락이다: 참,거짓 밖에 없기 때문이다) 인덱싱
# 전형적인 슬라이싱 기법에 기반(?)
# 특정조건만을 만족시키는 것만 살게하고 싶으면 조건을 쓰면된다
# [ T, F, F, F, T, T, T ] 데이터를 and하면 참만 살아남아서 아래와 같은 결과를 발생
# df에 식을 치면 => 전체 구성원에 전부다 연산이 진행된다
# 행렬 (연산) 값 => 각 구성원에 일일이 다 연산하는것과 동일
df[ df.C > 0 ] # -> 벡터에 스칼라 기법이기때문에 부등호가 들어간 수식작성 가능

                   A         B         C         D
2019-08-13  1.185499 -1.059717  0.928462 -0.865990
2019-08-14  0.520471  1.554445  0.662598 -1.028905
2019-08-15  1.929471 -0.513189  0.045570  0.411186
2019-08-16 -0.308756  0.303855  2.051351  0.031239
2019-08-17 -0.192632  0.949488  0.120483 -2.519978
2019-08-18 -0.389121 -2.158477  1.188311 -1.803810

In [52]:
# 데이터 전체를 기준으로 0보다 큰가? -> 대상은 살아남고 비대상은 NaN대체(결과확인)
#                                    -> 0보다 같거나 작은 데이터들은? NaN 대체
df[ df > 0 ]

                   A         B         C         D
2019-08-12  0.739226       NaN       NaN  1.391289
2019-08-13  1.185499       NaN  0.928462       NaN
2019-08-14  0.520471  1.554445  0.662598       NaN
2019-08-15  1.929471       NaN  0.045570  0.411186
2019-08-16       NaN  0.303855  2.051351  0.031239
2019-08-17       NaN  0.949488  0.120483       NaN
2019-08-18       NaN       NaN  1.188311       NaN

In [54]:
# 복사
df.copy(), df[:]

(                   A         B         C         D
 2019-08-12  0.739226 -0.609338 -0.205279  1.391289
 2019-08-13  1.185499 -1.059717  0.928462 -0.865990
 2019-08-14  0.520471  1.554445  0.662598 -1.028905
 2019-08-15  1.929471 -0.513189  0.045570  0.411186
 2019-08-16 -0.308756  0.303855  2.051351  0.031239
 2019-08-17 -0.192632  0.949488  0.120483 -2.519978
 2019-08-18 -0.389121 -2.158477  1.188311 -1.803810,
                    A         B         C         D
 2019-08-12  0.739226 -0.609338 -0.205279  1.391289
 2019-08-13  1.185499 -1.059717  0.928462 -0.865990
 2019-08-14  0.520471  1.554445  0.662598 -1.028905
 2019-08-15  1.929471 -0.513189  0.045570  0.411186
 2019-08-16 -0.308756  0.303855  2.051351  0.031239
 2019-08-17 -0.192632  0.949488  0.120483 -2.519978
 2019-08-18 -0.389121 -2.158477  1.188311 -1.803810)

In [55]:
# 기존 데이터 df에 새로운 컬럼을 추가한다 !! ( 아주 중요 ) => 파생변수, 뒤로 갈수록 줄줄이 나올 것으로 예상됨
# 기존 df의 1차원과 동수의 데이터가 존재해야 한다
# 데이터는 리스트 ok, Series도 ok
new_data = ['one','one','two','three','four','three','five']
# 데이터 추가 : 대상[ 신규컬럼명 ] = 데이터
df['E'] = new_data 
df.head(2)

                   A         B         C         D    E
2019-08-12  0.739226 -0.609338 -0.205279  1.391289  one
2019-08-13  1.185499 -1.059717  0.928462 -0.865990  one

In [57]:
# 데이터 조사
# 안에 그런값이 있는가? 
df['E'].isin(['two','four'])

2019-08-12    False
2019-08-13    False
2019-08-14     True
2019-08-15    False
2019-08-16     True
2019-08-17    False
2019-08-18    False
Freq: D, Name: E, dtype: bool

In [58]:
df[df['E'].isin(['two','four'])]

                   A         B         C         D     E
2019-08-14  0.520471  1.554445  0.662598 -1.028905   two
2019-08-16 -0.308756  0.303855  2.051351  0.031239  four

In [59]:
# 누적합
# apply( 함수를 표현 ) => 맴버들을 다 건드린다
df.apply( np.cumsum )

,A,B,C,D,E
2019-08-12,0.739226,-0.609338,-0.205279,1.391289,one
2019-08-13,1.924725,-1.669055,0.723183,0.525299,oneone
2019-08-14,2.445196,-0.114609,1.385781,-0.503606,oneonetwo
2019-08-15,4.374666,-0.627799,1.431351,-0.092420,oneonetwothree
2019-08-16,4.065910,-0.323944,3.482702,-0.061181,oneonetwothreefour
2019-08-17,3.873279,0.625545,3.603185,-2.581159,oneonetwothreefourthree
2019-08-18,3.484158,-1.532933,4.791495,-4.384968,oneonetwothreefourthreefive