## 서울시기준, 자치구별 cctv, 인구현황분석
- 개별 데이터 분석
- 상관성 분석
- pandas 사용법 습득, 시각화 기초

### 1. 데이터 수집(획득) 및 로드

In [312]:
# 일반적으로 2가지가 형식적이다
import numpy as np
import pandas as pd

- pandas에서 엑셀(csv) 파일로드
- 데이터를 부분 확인 후 데이터의 이상여부 간단히 시각적 확인

In [313]:
# pd.read_ : 출처경로가 된다(의미: 경로출처)
s_cctv = pd.read_excel( '../data/seoul_cctv_state.xlsx', encoding='utf-8' ) # 엑셀로 안깨졌을 때 utf-8

In [314]:
# 전체확인
s_cctv

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1     강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2     강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3     강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4     관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
5     광 진 구  1581     470.0   42.0   83.0     87     64     21    468    346
6     구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
7     금 천 구  1634      27.0   17.0  242.0    101    382    136    199    530
8     노 원 구  1906     481.0  117.0  203.0     80    461    298    110    156
9     도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
10     동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
11    동 작 구  1780     238.0   93.0   29.0    503    130    254    278    255
12    마 포 구  1935     585.0  108.0   69.0     70    177    359    372    195
13     서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
14    서 초 구  2835    1172.0   91.0  228.0    134    215    352    247    396
15    성 동 구  2679     665.0  109.0  118.0    101    258    201    933    294
16    성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
17    송 파 구  1586     600.0   99.0   88.0     21    166    100    116    396
18    양 천 구  2775     772.0  161.0  185.0    169    172    349    137    830
19     영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
20    용 산 구  2063    1279.0  152.0  201.0    107    102     89     60     73
21    은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367
22    종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

In [315]:
# 상위값 확인
# s_cctv.head() # 5개 출력된다
s_cctv.head( 2 ) # 2개

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [316]:
# 하위값 확인
# s_cctv.tail() # 5개
s_cctv.tail( 2 ) # 2개

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

 - 대략적으로 탐색한 결과 '동대문구'와 '중랑구'에 결측치 확인, NaN으로 표기

In [317]:
# 탐색
# 컬럼명 확인
s_cctv.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [318]:
# '2011년 이전'이라는 컬럼명을 획득하고 싶을 경우
s_cctv.columns[2]

'2011년 이전'

In [319]:
# 데이터의 차원, 모습 확인 => shape
s_cctv.shape
# 1차원이 25개, 2차원이 10개 -> 튜플이 2개임:2차원이라는 뜻

(25, 10)

In [320]:
# 인덱스
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [321]:
s_cctv.index[1]

1

In [322]:
s_cctv.head(2)

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [323]:
# 기관명을 => 자치구 명칭을 통일 => DataFrame의 컬럼명 변경하여 의미의 명확성 부여
# inplace : 파라미터는 원본을 변경할 것인가? True면 원본변경(반영)
# 키 : 이전명컬럼 , 값 : 신규컬럼명
s_cctv.rename( columns={ s_cctv.columns[0]:'자치구'}, inplace=True ) # columns= : 기본값 부여, {}: 딕셔너리

In [324]:
s_cctv.head(1)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

### 실습
- s_pop이란 변수명으로 report.csv를 데이터를 로드하시오
- 데이터가 잘 오픈되지 않아서 일단 report.xls로 다시 받아서 동처리(동일한) 실행

In [325]:
# csv 파일은 오류못잡아서 홈페이지에서 엑셀파일 다운로드
# 데이터를 들여다보니 컬럼쪽이 2개가 더 많이 나타남 -> 해더를 2번으로 지정하여 갯수를 줄이겠다
# s_pop = pd.read_excel( '../data/report.xls', encoding='euc-kr')
# 필요없는 데이터는 로드 단계에서 걷어내곘다 -> 사전에 데이터를 보고 판단
# 필요한컬럼 : 자치구, 합계-계, 인구-한국인계, 인구-외국인계, 65세이상 고령자
s_pop = pd.read_excel( '../data/report.xls', encoding='euc-kr', header=2,  # 파일이 깨졌을 경우 : euc-kr
                       usecols='A,B,D,G,J,P' # usecols : 엑셀에서 필요한 컬럼을 가지고 오는 함수
                      )
s_pop.head(2)

     기간  자치구         계       계.1     계.2  65세이상고령자
0  2011   합계  10528774  10249679  279095   1049425
1  2011  종로구    177419    168382    9037     22939

In [326]:
# 컬럼명을 의미있게 조정
# 계~..고령자 까지. => 인구수, 한국인, 외국인, 고령자 
dic = {
    s_pop.columns[2]:'인구수',
    s_pop.columns[3]:'한국인',
    s_pop.columns[4]:'외국인',
    s_pop.columns[5]:'고령자'
}
s_pop.rename( columns=dic, inplace=True ) # inplace=true : 원본을 바꿔준다는 뜻
s_pop.head(2)

     기간  자치구       인구수       한국인     외국인      고령자
0  2011   합계  10528774  10249679  279095  1049425
1  2011  종로구    177419    168382    9037    22939

## pandas 기초학습
<a href='http://localhost:8889/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas_기초.ipynb'>이동하기</a>

## 데이터 특성파악

In [327]:
s_cctv.head(2)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [328]:
# 소계 컬럼을 중심으로 오른차순 정렬 
s_cctv.sort_values( by='소계', ascending=True).head(4) # 사본출력, 결과 안나오면 원본

      자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
9   도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
24  중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9
2   강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
22  종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101

In [329]:
s_cctv.sort_values( by='소계', ascending=True).tail(4)

      자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
16  성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
6   구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
4   관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
0   강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

- 강남구, 구로구 지역은 상업지구가 많아서, 관악구나 성북구는 산을 타고 빌라촌이 많다
- 이런 지역에는 인구 밀도가 비교적 높아서(예상) 혹은 유동인구가 많아서 CCTV가 많을 것으로 예상된다
- 도봉구, 중랑구, 강북구등은 주거지가 많아서 적어 보이고, 종로구는 보류
- 2011년도 이전 대비, 향후 7년간 증가율 계산 
- 7년간 증가율 = (2012+2013+2014+~2018)/2011년 * 100

In [330]:
# 나중에 언제든 활용 가능하도록 만드는 것이 목적
tmp_sum = s_cctv['2012년'] + s_cctv['2013년'] + s_cctv['2014년'] + s_cctv['2015년'] + s_cctv['2016년'] + s_cctv['2017년'] + s_cctv['2018년']
tmp_sum

0     3277.0
1     1576.0
2     1022.0
3     1398.0
4     3555.0
5     1111.0
6     2375.0
7     1607.0
8     1425.0
9      661.0
10       NaN
11    1542.0
12    1350.0
13    1556.0
14    1663.0
15    2014.0
16    2224.0
17     986.0
18    2003.0
19    2363.0
20     784.0
21    1597.0
22    1463.0
23    1519.0
24       NaN
dtype: float64

In [331]:
# 행렬의 합
s_cctv['2012년'] + s_cctv['2013년']

0     511.0
1     521.0
2     229.0
3     273.0
4     475.0
5     125.0
6     568.0
7     259.0
8     320.0
9      74.0
10      NaN
11    122.0
12    177.0
13    447.0
14    319.0
15    227.0
16    388.0
17    187.0
18    346.0
19    327.0
20    353.0
21    182.0
22    606.0
23    279.0
24      NaN
dtype: float64

In [332]:
s_cctv['최신 증가율']=(tmp_sum) / (s_cctv['2011년 이전']) * 100
s_cctv

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신 증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995
10,동대문구,2003,NaN,NaN,NaN,1326,111,233,136,197,NaN
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000
24,중 랑 구,1068,NaN,NaN,NaN,770,102,121,66,9,NaN

- 결측치가 이미 존재했던 중량구, 동대문구에 대한 조치 필요
> 결측치를 0으로 처리하는 방안
> 최초 데이터가 존재하는 년도까지 기준점으로 잡고가는 방향
> 최초 데이터에 대한 의구심을 가지고 다시 데이터를 수집 하는 방향
- 종로구는 초기 데이터가 워낙 작아서 증가율이 너무 크게 나온다
> 특정 구간까지는 xx년도 이전으로 묵어주는것이 나을듯하다
- 공공데이터 자료 검토 결과 2018년도와 2019년도 자료가 상이하다
- nan 처리 -> 0으로 진행
- 원래는, 자료 제공기관에 문의하여 확인과정이 필요하나, 절차상 생략하고, 2019년도 자료에서 2011년이전~2012, 2013, 2014 까지를 합산하여 새로운 컬럼 2014년도 이전을 생성할 것이다
- 필요없는 자료는 제거
- 2014년도 이전 자료 대비 2015~2018 최근증가율(4년간)이라는 항목으로 추가

### nan 처리 => 결측치 처리
- 결측값 채우기
> 1. 특정값
> 2. 앞방향으로 채우기 -> 시계열활용
> 3. 뒷방향으로 채우기 -> 시계열활용
> 4. 채우는 회수 제한
- 결측값 대체하기
> 변수별 평균으로 대체
- 결측값 처리
> 다른 변수의 값으로 대체
- 결측값 제거
> 아래 코드 참조(isnull 검사후 => 블리언인덱싱 이용 => 원데이터에 대상 index를 획득)
> any()로 검사후 참이면 해당 인덱스에 일치되는 데이터를 제거

In [333]:
# 결측값 채우기
s_cctv.fillna(0, inplace=True)
s_cctv

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신 증가율
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013
2,강 북 구,1265,243.0,88.0,141.0,74,145,254,1,319,420.576132
3,강 서 구,1617,219.0,155.0,118.0,230,187,190,264,254,638.356164
4,관 악 구,3985,430.0,56.0,419.0,487,609,619,694,671,826.744186
5,광 진 구,1581,470.0,42.0,83.0,87,64,21,468,346,236.382979
6,구 로 구,3227,852.0,219.0,349.0,187,268,326,540,486,278.755869
7,금 천 구,1634,27.0,17.0,242.0,101,382,136,199,530,5951.851852
8,노 원 구,1906,481.0,117.0,203.0,80,461,298,110,156,296.257796
9,도 봉 구,858,197.0,66.0,8.0,185,59,155,117,71,335.532995
10,동대문구,2003,0.0,0.0,0.0,1326,111,233,136,197,0.000000
11,동 작 구,1780,238.0,93.0,29.0,503,130,254,278,255,647.899160
12,마 포 구,1935,585.0,108.0,69.0,70,177,359,372,195,230.769231
13,서대문구,2121,565.0,233.0,214.0,114,109,277,415,194,275.398230
14,서 초 구,2835,1172.0,91.0,228.0,134,215,352,247,396,141.894198
15,성 동 구,2679,665.0,109.0,118.0,101,258,201,933,294,302.857143
16,성 북 구,3003,779.0,84.0,304.0,241,279,388,285,643,285.494223
17,송 파 구,1586,600.0,99.0,88.0,21,166,100,116,396,164.333333
18,양 천 구,2775,772.0,161.0,185.0,169,172,349,137,830,259.455959
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,1790.151515
20,용 산 구,2063,1279.0,152.0,201.0,107,102,89,60,73,61.297889
21,은 평 구,2962,1365.0,83.0,99.0,343,180,296,229,367,116.996337
22,종 로 구,1471,8.0,7.0,599.0,132,195,148,281,101,18287.500000
23,중 구,1544,25.0,165.0,114.0,80,245,270,317,328,6076.000000
24,중 랑 구,1068,0.0,0.0,0.0,770,102,121,66,9,0.000000

In [334]:
s_cctv.columns

Index(['자치구', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년', '최신 증가율'],
      dtype='object')

In [335]:
# 2011이전 ~ 2012, 2013, 2014만 추출
tmp = s_cctv.iloc[ :, [2,3,4,5] ]

In [336]:
tmp.sum(axis=1)

0     2885.0
1      883.0
2      546.0
3      722.0
4     1392.0
5      682.0
6     1607.0
7      387.0
8      881.0
9      456.0
10    1326.0
11     863.0
12     832.0
13    1126.0
14    1625.0
15     993.0
16    1408.0
17     808.0
18    1287.0
19     676.0
20    1739.0
21    1890.0
22     746.0
23     384.0
24     770.0
dtype: float64

In [337]:
# 밑의 소스코드와 동일한 소스코드가 된다
# s_cctv['2014년도 이전'] =  s_cctv[ '2011년도 이전' ] + s_cctv['2012'] + s_cctv['2013']...

In [338]:
# 2011년이전~2012, 2013, 2014 까지를 합산하여, 새로운 컬럼 2014년도 이전을 생성
s_cctv[ '2014년도 이전' ] = s_cctv.iloc[ :, [2,3,4,5]  ].sum(axis=1)

In [339]:
s_cctv.head(2)

,자치구,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최신 증가율,2014년도 이전
0,강 남 구,5221,1944.0,195.0,316.0,430,546,765,577,448,168.569959,2885.0
1,강 동 구,1879,303.0,387.0,134.0,59,144,194,273,385,520.132013,883.0

In [340]:
rm_cols = s_cctv.columns[2:6]

In [341]:
try:    
    # 제거
    s_cctv.drop( rm_cols, inplace=True, axis=1 )
    print( s_cctv.head(2) )
except Exception as e:
    pass

     자치구    소계  2015년  2016년  2017년  2018년      최신 증가율  2014년도 이전
0  강 남 구  5221    546    765    577    448  168.569959     2885.0
1  강 동 구  1879    144    194    273    385  520.132013      883.0

In [342]:
s_cctv.head(2)

     자치구    소계  2015년  2016년  2017년  2018년      최신 증가율  2014년도 이전
0  강 남 구  5221    546    765    577    448  168.569959     2885.0
1  강 동 구  1879    144    194    273    385  520.132013      883.0

In [343]:
# 최신증가율을 다시 계산해서 세팅
tmp = s_cctv.iloc[ :, [2,3,4,5]  ].sum(axis=1)
s_cctv[ '최신증가율' ] = tmp / s_cctv[ '2014년도 이전' ] * 100
# 펜시 인덱싱을 통함 컬럼 재배치 후 사본 리턴
s_cctv = s_cctv.iloc[ :, [0,1,7,2,3,4,5,6] ]
s_cctv

        자치구    소계  2014년도 이전  2015년  2016년  2017년  2018년        최신 증가율
0     강 남 구  5221     2885.0    546    765    577    448    168.569959
1     강 동 구  1879      883.0    144    194    273    385    520.132013
2     강 북 구  1265      546.0    145    254      1    319    420.576132
3     강 서 구  1617      722.0    187    190    264    254    638.356164
4     관 악 구  3985     1392.0    609    619    694    671    826.744186
5     광 진 구  1581      682.0     64     21    468    346    236.382979
6     구 로 구  3227     1607.0    268    326    540    486    278.755869
7     금 천 구  1634      387.0    382    136    199    530   5951.851852
8     노 원 구  1906      881.0    461    298    110    156    296.257796
9     도 봉 구   858      456.0     59    155    117     71    335.532995
10     동대문구  2003     1326.0    111    233    136    197      0.000000
11    동 작 구  1780      863.0    130    254    278    255    647.899160
12    마 포 구  1935      832.0    177    359    372    195    230.769231
13     서대문구  2121     1126.0    109    277    415    194    275.398230
14    서 초 구  2835     1625.0    215    352    247    396    141.894198
15    성 동 구  2679      993.0    258    201    933    294    302.857143
16    성 북 구  3003     1408.0    279    388    285    643    285.494223
17    송 파 구  1586      808.0    166    100    116    396    164.333333
18    양 천 구  2775     1287.0    172    349    137    830    259.455959
19     영등포구  2495      676.0    366    289    371    793   1790.151515
20    용 산 구  2063     1739.0    102     89     60     73     61.297889
21    은 평 구  2962     1890.0    180    296    229    367    116.996337
22    종 로 구  1471      746.0    195    148    281    101  18287.500000
23  중     구  1544      384.0    245    270    317    328   6076.000000
24    중 랑 구  1068      770.0    102    121     66      9      0.000000

### 인구 현황 분석

In [344]:
s_pop.dtypes

기간      int64
자치구    object
인구수     int64
한국인     int64
외국인     int64
고령자     int64
dtype: object

In [345]:
# s_pop에서 기간이 2014~2018년도까지만 추출해라

In [346]:
s_pop_last = s_pop[ s_pop.기간 >= 2014]
s_pop_last.shape

(130, 6)

In [347]:
s_cctv.shape

(25, 8)

In [348]:
# 자치구 개수로 인구데이터 개수를 나눠보니 딱 안떨어진다 => 125가 되야 되는데
# 130이 되었다 => 년도별로 1개씩 데이터가 더 있다 
s_pop_last.shape[0] / s_cctv.shape[0]

5.2

In [349]:
s_pop_last.head(27)
# 년도별로 합계 데이터가 추가되어있다. 
# 합계를 제거해라 혹은 합계를 빼고 데이터프레임을 구성해라
s_pop_last = s_pop_last[s_pop_last.자치구 != '합계']
s_pop_last.shape

(125, 6)

In [350]:
# 데이터 매칭 정상
s_pop_last.shape[0] / s_cctv.shape[0]

5.0

In [351]:
# 데이터 프레임을 합쳐서 진행할 것인데, 자치구 데이터들이 고유한지 체크
len(s_cctv['자치구'].unique()), len(s_pop_last['자치구'].unique())

(25, 25)

In [352]:
# NaN 검출
s_cctv['자치구'].isnull().head(2)

0    False
1    False
Name: 자치구, dtype: bool

In [353]:
# NaN 데이터를 제거할 때는
nanidx = s_cctv[s_cctv['자치구'].isnull()].index
if nanidx.any():
    s_cctv.drop([nanidx], inplace=True)

In [354]:
s_pop_last.columns

Index(['기간', '자치구', '인구수', '한국인', '외국인', '고령자'], dtype='object')

In [355]:
# 인구 데이터 s_pop_last 에서 외국인비율, 고령자비율 컬럼 추가
# 외국인비율 =  외국인 / 인구수 * 100
s_pop_last['외국인비율'] = s_pop_last['외국인'] / s_pop_last['인구수'] * 100
s_pop_last['고령자비율'] = s_pop_last['고령자'] / s_pop_last['인구수'] * 100
s_pop_last.head(2)

      기간  자치구     인구수     한국인   외국인    고령자     외국인비율      고령자비율
79  2014  종로구  165344  156993  8351  24537  5.050682  14.839970
80  2014   중구  136227  128065  8162  19960  5.991470  14.652015

In [356]:
# s_pop_last 데이터에서 s_pop_last_2018 생성, 2018년도만 획득
s_pop_last_2018 = s_pop_last[ s_pop_last.기간 == 2018 ]
s_pop_last_2018.shape

(25, 8)

In [357]:
s_pop_last_2018.sort_values( by='고령자비율', ascending=False ).head(3)

       기간  자치구     인구수     한국인   외국인    고령자     외국인비율      고령자비율
191  2018  강북구  322915  319164  3751  58196  1.161606  18.022080
183  2018  종로구  163026  153065  9961  26742  6.110068  16.403518
192  2018  도봉구  341649  339413  2236  55964  0.654473  16.380554

In [358]:
s_pop_last_2018.sort_values( by='외국인비율', ascending=False ).head(3)

       기간   자치구     인구수     한국인    외국인    고령자     외국인비율      고령자비율
201  2018  영등포구  403600  367778  35822  55673  8.875619  13.794103
200  2018   금천구  254021  233917  20104  35739  7.914306  14.069309
199  2018   구로구  438486  404497  33989  61801  7.751445  14.094179

In [359]:
s_cctv.head(3)

     자치구    소계  2014년도 이전  2015년  2016년  2017년  2018년      최신 증가율
0  강 남 구  5221     2885.0    546    765    577    448  168.569959
1  강 동 구  1879      883.0    144    194    273    385  520.132013
2  강 북 구  1265      546.0    145    254      1    319  420.576132

### DataFrame 합치기: 병합(고급주제)
<a href='http://localhost:8889/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas_advanced.ipynb'>실습하기</a>

In [360]:
# s_cctv, s_pop_last_2018 2개를 병합
data_result = pd.merge( s_cctv, s_pop_last_2018, on='자치구' )
data_result.shape

(3, 15)

In [361]:
s_cctv['자치구'], s_pop_last_2018['자치구']

(0       강 남 구
 1       강 동 구
 2       강 북 구
 3       강 서 구
 4       관 악 구
 5       광 진 구
 6       구 로 구
 7       금 천 구
 8       노 원 구
 9       도 봉 구
 10       동대문구
 11      동 작 구
 12      마 포 구
 13       서대문구
 14      서 초 구
 15      성 동 구
 16      성 북 구
 17      송 파 구
 18      양 천 구
 19       영등포구
 20      용 산 구
 21      은 평 구
 22      종 로 구
 23    중     구
 24      중 랑 구
 Name: 자치구, dtype: object, 183     종로구
 184      중구
 185     용산구
 186     성동구
 187     광진구
 188    동대문구
 189     중랑구
 190     성북구
 191     강북구
 192     도봉구
 193     노원구
 194     은평구
 195    서대문구
 196     마포구
 197     양천구
 198     강서구
 199     구로구
 200     금천구
 201    영등포구
 202     동작구
 203     관악구
 204     서초구
 205     강남구
 206     송파구
 207     강동구
 Name: 자치구, dtype: object)

In [362]:
# 자치구 용어가 통일이 않되있어서 문자열 내부에 공백이 존재한다
# 공백을 부여할것인지, 공백을 제거할것인지 기준점을 정해서 데이터를 전처리후 병합진행
'용 산 구'.replace(' ','')

'용산구'

In [363]:
# s_cctv의 자치구 데이터를 한놈씩 꺼내서 공백을 제거하고 원위치 시켜야 된다
def reSpace(x):
    return x.replace(' ','')

# 처리할 내용이 1줄이면 lambda로 처리, 그 이상이면 함수를 정의해서 처리한다
#s_cctv['자치구'].apply( reSpace )
s_cctv['자치구'] = s_cctv['자치구'].apply( lambda x: x.replace(' ','') )

C:\Users\User\Anaconda3\envs\analysis\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [364]:
# 데이터를 보정했다 => 다시 병합
data_result = pd.merge( s_cctv, s_pop_last_2018, on='자치구' )
data_result.shape

(25, 15)

In [365]:
data_result.head(2)

,자치구,소계,2014년도 이전,2015년,2016년,2017년,2018년,최신 증가율,기간,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,5221,2885.0,546,765,577,448,168.569959,2018,547453,542364,5089,67085,0.929578,12.254020
1,강동구,1879,883.0,144,194,273,385,520.132013,2018,431920,427573,4347,58770,1.006436,13.606686

In [366]:
# 기간 제거 -> 간단히 제거하는 방법
del data_result['기간']

In [367]:
data_result.head(2)

,자치구,소계,2014년도 이전,2015년,2016년,2017년,2018년,최신 증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,5221,2885.0,546,765,577,448,168.569959,547453,542364,5089,67085,0.929578,12.254020
1,강동구,1879,883.0,144,194,273,385,520.132013,431920,427573,4347,58770,1.006436,13.606686

In [368]:
# 자치구=> 인덱스로 적용 => 시각화를 위해 배치
# 특정 컬럼을 인덱스로 적용
data_result.set_index('자치구', inplace=True)
data_result.head()

,소계,2014년도 이전,2015년,2016년,2017년,2018년,최신 증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,
강남구,5221,2885.0,546,765,577,448,168.569959,547453,542364,5089,67085,0.929578,12.254020
강동구,1879,883.0,144,194,273,385,520.132013,431920,427573,4347,58770,1.006436,13.606686
강북구,1265,546.0,145,254,1,319,420.576132,322915,319164,3751,58196,1.161606,18.022080
강서구,1617,722.0,187,190,264,254,638.356164,603611,596949,6662,79660,1.103691,13.197241
관악구,3985,1392.0,609,619,694,671,826.744186,520040,501957,18083,72249,3.477233,13.892970

### 상관성 검사 
- 상관계수 : ~ 0 ~ 1  
> 0.1 이하 : 거의 관련 없음, 무시  
> 0.3 이하 : 약한 상관관계  
> 0.7 이하 : 뚜렷한 상관관계  
> ~이상  : 명확한 상관관계   
- np.corroef()

In [369]:
data_result.columns

Index(['소계', '2014년도 이전', '2015년', '2016년', '2017년', '2018년', '최신 증가율', '인구수',
       '한국인', '외국인', '고령자', '외국인비율', '고령자비율'],
      dtype='object')

In [370]:
# CCTV 설치 총양 대비 고령자 비율
np.corrcoef( data_result['고령자비율'], data_result['소계'] )
# 행렬로 응답, 대각선 기준 값이 출력

array([[ 1.        , -0.40379375],
       [-0.40379375,  1.        ]])

In [ ]:
# -0.40379375 => 관련 없음

In [371]:
np.corrcoef( data_result['인구수'], data_result['소계'] )
# 0.37523207 : 뚜렷한 상관관계 (약한쪽에 가까운)

array([[1.        , 0.37523207],
       [0.37523207, 1.        ]])

In [372]:
np.corrcoef( data_result['외국인비율'], data_result['소계'] )

array([[ 1.        , -0.04143132],
       [-0.04143132,  1.        ]])

In [373]:
np.corrcoef( data_result['한국인'], data_result['소계'] )

array([[1.       , 0.3580254],
       [0.3580254, 1.       ]])

In [374]:
# CCTV가 많은 구 시각화를 한다 => 데이터가 정렬
data_result.sort_values( by='소계', ascending=False ).head()

,소계,2014년도 이전,2015년,2016년,2017년,2018년,최신 증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
자치구,,,,,,,,,,,,,
강남구,5221,2885.0,546,765,577,448,168.569959,547453,542364,5089,67085,0.929578,12.254020
관악구,3985,1392.0,609,619,694,671,826.744186,520040,501957,18083,72249,3.477233,13.892970
구로구,3227,1607.0,268,326,540,486,278.755869,438486,404497,33989,61801,7.751445,14.094179
성북구,3003,1408.0,279,388,285,643,285.494223,447687,435868,11819,67782,2.640014,15.140489
은평구,2962,1890.0,180,296,229,367,116.996337,487666,483197,4469,77420,0.916406,15.875620

## 시각화 기초