## 서울시기준, 자치구별 cctv, 인구현황분석
- 개별 데이터 분석
- 상관성 분석
- pandas 사용법 습득, 시각화 기초

### 1. 데이터 수집(획득) 및 로드

In [1]:
# 일반적으로 2가지가 형식적이다
import numpy as np
import pandas as pd

- pandas에서 엑셀(csv) 파일로드
- 데이터를 부분 확인 후 데이터의 이상여부 간단히 시각적 확인

In [2]:
# pd.read_ : 출처경로가 된다(의미: 경로출처)
s_cctv = pd.read_excel( '../data/seoul_cctv_state.xlsx', encoding='utf-8' ) # 엑셀로 안깨졌을 때 utf-8

In [4]:
# 전체확인
s_cctv

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1     강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2     강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3     강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4     관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
5     광 진 구  1581     470.0   42.0   83.0     87     64     21    468    346
6     구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
7     금 천 구  1634      27.0   17.0  242.0    101    382    136    199    530
8     노 원 구  1906     481.0  117.0  203.0     80    461    298    110    156
9     도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
10     동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
11    동 작 구  1780     238.0   93.0   29.0    503    130    254    278    255
12    마 포 구  1935     585.0  108.0   69.0     70    177    359    372    195
13     서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
14    서 초 구  2835    1172.0   91.0  228.0    134    215    352    247    396
15    성 동 구  2679     665.0  109.0  118.0    101    258    201    933    294
16    성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
17    송 파 구  1586     600.0   99.0   88.0     21    166    100    116    396
18    양 천 구  2775     772.0  161.0  185.0    169    172    349    137    830
19     영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
20    용 산 구  2063    1279.0  152.0  201.0    107    102     89     60     73
21    은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367
22    종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

In [5]:
# 상위값 확인
# s_cctv.head() # 5개 출력된다
s_cctv.head( 2 ) # 2개

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [6]:
# 하위값 확인
# s_cctv.tail() # 5개
s_cctv.tail( 2 ) # 2개

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

 - 대략적으로 탐색한 결과 '동대문구'와 '중랑구'에 결측치 확인, NaN으로 표기

In [7]:
# 탐색
# 컬럼명 확인
s_cctv.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [8]:
# '2011년 이전'이라는 컬럼명을 획득하고 싶을 경우
s_cctv.columns[2]

'2011년 이전'

In [9]:
# 데이터의 차원, 모습 확인 => shape
s_cctv.shape
# 1차원이 25개, 2차원이 10개 -> 튜플이 2개임:2차원이라는 뜻

(25, 10)

In [10]:
# 인덱스
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [11]:
s_cctv.index[1]

1

In [12]:
s_cctv.head(2)

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [13]:
# 기관명을 => 자치구 명칭을 통일 => DataFrame의 컬럼명 변경하여 의미의 명확성 부여
# inplace : 파라미터는 원본을 변경할 것인가? True면 원본변경(반영)
# 키 : 이전명컬럼 , 값 : 신규컬럼명
s_cctv.rename( columns={ s_cctv.columns[0]:'자치구'}, inplace=True ) # columns= : 기본값 부여, {}: 딕셔너리

In [14]:
s_cctv.head(1)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448

### 실습
- s_pop이란 변수명으로 report.csv를 데이터를 로드하시오
- 데이터가 잘 오픈되지 않아서 일단 report.xls로 다시 받아서 동처리(동일한) 실행

In [23]:
# csv 파일은 오류못잡아서 홈페이지에서 엑셀파일 다운로드
# 데이터를 들여다보니 컬럼쪽이 2개가 더 많이 나타남 -> 해더를 2번으로 지정하여 갯수를 줄이겠다
# s_pop = pd.read_excel( '../data/report.xls', encoding='euc-kr')
# 필요없는 데이터는 로드 단계에서 걷어내곘다 -> 사전에 데이터를 보고 판단
# 필요한컬럼 : 자치구, 합계-계, 인구-한국인계, 인구-외국인계, 65세이상 고령자
s_pop = pd.read_excel( '../data/report.xls', encoding='euc-kr', header=2,  # 파일이 깨졌을 경우 : euc-kr
                       usecols='A,B,D,G,J,P' # usecols : 엑셀에서 필요한 컬럼을 가지고 오는 함수
                      )
s_pop.head(2)

     기간  자치구         계       계.1     계.2  65세이상고령자
0  2011   합계  10528774  10249679  279095   1049425
1  2011  종로구    177419    168382    9037     22939

In [26]:
# 컬럼명을 의미있게 조정
# 계~..고령자 까지. => 인구수, 한국인, 외국인, 고령자 
dic = {
    s_pop.columns[2]:'인구수',
    s_pop.columns[3]:'한국인',
    s_pop.columns[4]:'외국인',
    s_pop.columns[5]:'고령자'
}
s_pop.rename( columns=dic, inplace=True ) # inplace=true : 원본을 바꿔준다는 뜻
s_pop.head(2)

     기간  자치구       인구수       한국인     외국인      고령자
0  2011   합계  10528774  10249679  279095  1049425
1  2011  종로구    177419    168382    9037    22939

## pandas 기초학습
<a href='http://localhost:8889/notebooks/Desktop/py_projects/analysis/pandas/basic/pandas_기초.ipynb'>이동하기</a>